<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<h1>Car Controller</h1>
<img src="{{ url_for('video_feed') }}">
<div style=" height:400px; width:300px; float:right;">
<center>
<a href="#" id="up" style="font-size:30px;text-decoration:none;">  &#x1F881;&#x1F881;<br>Forward</a><br><br></center>
<a href="#" id="left" style="font-size:30px;text-decoration:none;"> &#x1F880;&#x1F880;Left</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#" id="right" style="font-size:30px; text-decoration:none;"> Right &#x1F882;&#x1F882;</a><br><br>
<center><a href="#" id="down" style="font-size:30px;text-decoration:none;"> Backward<br> &#x1F883;&#x1F883;</a></center>
</div>
<script>
$( document ).ready(function(){
    $("#down").on("keydown", function() {
     $.get('/down_side');
     }).on('keyup', function() {
     $.get('/stop');
    });
    $("#up").on("keydown", function() {
     $.get('/up_side');
     }).on('keyup', function() {
     $.get('/stop');
    });
    $("#left").on("keydown", function() {
     $.get('/left_side');
     }).on('keyup', function() {
     $.get('/stop');
    });
    $("#right").on("keydown", function() {
     $.get('/right_side');
     }).on('keyup', function() {
     $.get('/stop');
    });
});
</script>

</body>
</html>
